*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, sans-serif;
}

/* commons */

/* classes */

.flex_end{
    width: 100%;
    display: flex;
    justify-content: end;
}

.color_white{
    color:white;
}

/* elements */

h2{
    text-transform: uppercase;
    text-align: center;
}


/* header */

header{
    background-color: #2C3E50;
    color:white;
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    padding: 20px 0;
    height: 64px;
    text-transform: uppercase;
}

.header-logo{
    
    font-weight: 700;
}

.nav_ul{
    display: flex;
    list-style-type: none;
}

.nav_list_item{
    text-decoration: none;
    margin-left: 20px;
    color: inherit;
}

.dropdown-toggle::after {
    content: none;
}

.nav_button{
    font-size: 32px;
    line-height: 0;
}
/* main */

main{
    margin-top: 64px;
}

.section_bg_green{
    background-color: #1ABC9C;
    color:white;
}

/* start bootstrap section */

.avatar_img{
    display: block;
    width: 300px;
    margin: 0 auto;
}

h1{
    font-size: 38px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
}

.my_star{
    font-size: 32px;
    text-align: center;
}

.profession{
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
    font-size: 18px;
}


/* portfolio section */

#portfolio{
    color: #2C3E50;
}

#portfolio img{
    width: 100%;
    border-radius: 20px;
}

/* footer */


footer{
    background-color: #3A546D;
}

.bg_darkblue{
    background-color: #2C3E50;
}

/* media queries */

@media screen and (min-width: 768px){
    /* commons */
    
    h2{
        font-size: 48px;
    }
    /* main */

    h1{
        font-size:64px;
    }

    .profession{
        font-size: 28px;
    }
}